{% extends 'PixellaryInhouseBundle::base.html.twig' %}

{% block body %}

    {% block mainmenu %}

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="#">InHouse</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Clients<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('pixellary_inhouse_clientList') }}">Client list</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_clientForm') }}">Create client</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('pixellary_inhouse_projectList') }}">Project list</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_projectForm') }}">Create project</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_projectsExtended') }}">Project list extended</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_schedule') }}">Schedule</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_board') }}">Agile board</a></li>
                                </ul>
                            </li>                             
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('pixellary_inhouse_taskForm') }}">Create task</a></li>
                                    <li><a href="{{ path('pixellary_inhouse_taskList') }}">Task list</a></li>
                                </ul>
                            </li>                            
                            <li><a href="{{ path('pixellary_inhouse_reporting') }}"><i class="icon-signal icon-white"></i> Reporting</a></li>
                            <li><a href="{{ path('pixellary_inhouse_about') }}">About</a></li>
                            
                            {% if is_granted('ROLE_ADMIN') %}    

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin menu <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Security</a></li>
                                    <li><a href="#">Users</a></li>
                                    <li><a href="#">Settings</a></li>
                                </ul>
                            </li>
                            
                            {% endif %}

                        </ul>

						<div class="pull-right">
							<ul class="nav pull-right">
								<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ app.user.username }} <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
										<li><a href="#"><i class="icon-envelope"></i> Messages</a></li>
										<li class="divider"></li>
										<li><a href="{{ path('logout') }}"><i class="icon-off"></i> Logout</a></li>
									</ul>
								</li>
							</ul>
						</div>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

    {% endblock %}


    <div class="container">

        {% block container %}{% endblock%}

    </div> <!-- /container -->

    {% block footer %}
        <hr/>
        <footer>
            <div class="container">
                <p>copyright 2013</p>
            </div>
        </footer>
    {% endblock %}

{% endblock %}

